<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Notes</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  NOTES
  <div *ngFor="let note of notes">
  <!--  <ion-list>
      <ion-item  (click)="openNote(note)">
        <ion-label>
          {{ note.title }}
          <p>{{note.text}} Modal</p>
        </ion-label>
      </ion-item>
    </ion-list>-->

    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            {{ note.title }} {{note.userEmail}}
            <p>{{note.text}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options  side="start">
          <button ion-button  (click)="doneOrder(note)"  >Done</button>

        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>

  USER
  <div *ngFor="let user of users">

    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            {{ user.email }}
            <p>{{user.userOrders}}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

  </div>

  USER ORDERS
  <div *ngFor="let order of allOrders">

    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-label>
           OrderID: {{ order.id }}
            <p>{{order.userEmail}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options  side="start">
          <button ion-button  (click)="deleteOrder(order)"  >Done</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="openLinkOrderfromUser()">
      <ion-icon name="build-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>




</ion-content>
